{% macro render_pagination(pagination, endpoint) %}
    <div class="pagination pagination-centered">
        <ul>
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% endif %}
                    {% else %}
                        <li class="disabled"><a href="#">…</a></li>
                    {% endif %}
            {%- endfor %}
        </ul>
    </div>
{% endmacro %}
