{% extends "base.jinja" %}
{% from "_utils.jinja" import render_pagination %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="hero-unit">
        <h2>Hi!</h2>
            <h2>Click <a href="{{ url_for('tablets') }}">here</a> to see the tablets</h2>
        </div>
{% endblock %}
{% block sidebar %}
{% for number in range(3) %}
    <li class="nav-header">Sidebar</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
{% endfor %}
{% endblock %}
