{% extends "base.jinja" %}
{% block title %}Individual Tablet View{% endblock %}
{% block content %}
<h1>
    {{ tablet.museum_number }}
    <small>available signs</small>
</h1>
<div class="row-fluid">
    <div class="span9">
        <table class="table-bordered table-striped">
        {%- for chunk in chunks %}
        <tr>
            {%- for sign in chunk %}
                    <td><a href="#">{{ sign }}</a></td>
            {%- endfor %}
        </tr>
        {%- endfor %}
        </table>
    </div>
</div>
<div class="row-fluid">
    <h3>Object images:</h3>
    <ul class="thumbnails">
    <!-- for-each loop goes here, because we've joined to Signs on Museum Number -->
        <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/360x268" alt="">
        </a>
        </li>
        <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/360x268" alt="">
        </a>
        </li>
        <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/360x268" alt="">
        </a>
        </li>
    </ul>
</div>
{% endblock %}
{% block sidebar %}
    <ul class="unstyled">
        {% if tablet.rulers %}
        <li><strong>Ruler(s):</strong>
        <ul>
        {% for ruler in tablet.rulers %}
            <li><a href="{{ url_for('tablets', ruler=ruler.name, page=1) }}">{{ ruler.name }}</a></li>
        {% endfor %}
        </ul>
        </li>
        {% endif %}
        {% if tablet.medium %}
            <li><strong>Medium:</strong> <a href="{{ url_for('tablets', medium=tablet.medium.name, page=1) }}">{{ tablet.medium.name }}</a></li>
        {% endif %}
        {% if tablet.script_type %}
            <li><strong>Script Type:</strong> <a href="{{ url_for('tablets', script_type=tablet.script_type.script, page=1) }}">{{ tablet.script_type.script }}</a></li>
        {% endif %}
        {% if tablet.locality %}
            <li><strong>Locality:</strong> <a href="{{ url_for('tablets', locality=tablet.locality.area, page=1) }}">{{ tablet.locality.area }}</a></li>
        {% endif %}
        {% if tablet.city %}
            <li><strong>City:</strong> <a href="{{ url_for('tablets', city=tablet.city.name, page=1) }}">{{ tablet.city.name }}</a></li>
        {% endif %}
        {% if tablet.publication %}
            <li><strong>Publication:</strong> {{ tablet.publication }}</li>
        {% endif %}
        {% if tablet.year %}
            <li>
                <strong>Year:</strong> <a href="{{ url_for('tablets', year=tablet.year.year, page=1) }}">{{ tablet.year.year }}</a>
                {% if tablet.year.eponym %}
                    (Eponym: <a href="{{ url_for('tablets', eponym=tablet.year.eponym.name, page=1) }}">{{ tablet.year.eponym.name }}</a>)
                {% endif %}
            </li>
        {% endif %}
        {% if tablet.period %}
            <li><strong>Period:</strong> <a href="{{ url_for('tablets', period=tablet.period.name, page=1) }}">{{ tablet.period.name }}</a></li>
        {% endif %}
        {% if tablet.sub_period %}
            <li><strong>Sub-Period:</strong> <a href="{{ url_for('tablets', sub_period=tablet.sub_period.name, page=1) }}">{{ tablet.sub_period.name }}</a></li>
        {% endif %}
        {% if tablet.dynasty %}
            <li><strong>Dynasty:</strong> <a href="{{ url_for('tablets', dynasty=tablet.dynasty.name, page=1) }}">{{ tablet.dynasty.name }}</a></li>
        {% endif %}
        {% if tablet.sent_from %}
            <li><strong>Sent From:</strong> <a href="{{ url_for('tablets', sent_from=tablet.sent_from.name, page=1) }}">{{ tablet.sent_from.name }}</a></li>
        {% endif %}
        {% if tablet.sent_to %}
            <li><strong>Sent To:</strong> <a href="{{ url_for('tablets', sent_to=tablet.sent_to.name, page=1) }}">{{ tablet.sent_to.name }}</a></li>
        {% endif %}
        {% if tablet.text_vehicle %}
            <li><strong>Text Vehicle:</strong> <a href="{{ url_for('tablets', text_vehicle=tablet.text_vehicle.name, page=1) }}">{{ tablet.text_vehicle.name }}</a></li>
        {% endif %}
        {% if tablet.language %}
            <li><strong>Language:</strong> <a href="{{ url_for('tablets', language=tablet.language.name, page=1) }}">{{ tablet.language.name }}</a></li>
        {% endif %}
        {% if tablet.method %}
            <li><strong>Method:</strong> <a href="{{ url_for('tablets', method=tablet.method.name, page=1) }}">{{ tablet.method.name }}</a></li>
        {% endif %}
        {% if tablet.genre %}
            <li><strong>Genre:</strong> <a href="{{ url_for('tablets', genre=tablet.genre.name, page=1) }}">{{ tablet.genre.name }}</a></li>
        {% endif %}
        {% if tablet.function %}
            <li><strong>Function:</strong> <a href="{{ url_for('tablets', function=tablet.function.name) }}">{{ tablet.function.name }}</a></li>
        {% endif %}
    </ul>
{% endblock %}
