<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}CDP{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assets "bootstrap" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "bootstrap_theme" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <!--[if lt IE 9]>
        {% assets "html5shim" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% set navigation_bar = [
                    (url_for('glyph.index'), 'index', 'Index'),
                    (url_for('.tablets'), 'tablets', 'Tablets'),
                    (url_for('.signs'), 'signs', 'Signs')
                ] -%}
                {% set active_page = active_page|default('index') -%}
                <a class="navbar-brand" href="{{ url_for('glyph.index') }}">CDPP</a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for href, id, caption in navigation_bar %}
                            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row-fluid">
                {% block side_container %}
                    <div class="col-md-4">
                        <div class="well">
                            {% block sidebar %}{% endblock %}
                        </div><!--/.well -->
                    </div><!--/span-->
                {% endblock %}
                <div class="col-md-8">
                    <div class="well">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% assets "js_jquery" %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ ASSET_URL }}"><\/script>')</script>
        {% endassets %}
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
