{% extends "base.jinja" %}
{% set active_page = "signs" %}
{% block title %}CDP records for sign {{ cdp_records[0].sign.sign_ref }}{% endblock %}
{% block content %}
<h3>CDPP Records </h3>
        <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr><td></td><td><strong>Entries</strong></td></tr>
        </thead>
        {%- for row in row_cols %}
            <tr>
            {%- for item in row %}
            {% if loop.index == 1 %}
                <td><strong>{{ item }}<strong></td>
            {% else %}
                <td>{{ item }}</td>
            {% endif %}
            {%- endfor %}
            </tr>
        {%- endfor %}
        </table>
{% endblock %}
{% block sidebar %}
<div class="container-fluid">
    <h3>Sign: {{ cdp_records[0].sign.sign_ref }} (<a href="{{ url_for('.sign_images', sign_id=cdp_records[0].sign.id) }}">images</a>)</h3>
    <div class="row-fluid">
        <div class="span9">
        {%if cdp_records[0].sign.instances|length > 0 %}
            <h4>{{ cdp_records[0].sign.instances|length }} instances of this sign are known, ocurring in {{ cdp_records[0].sign.instances|groupby('tablet.museum_number')|length }} tablets:</h4>
                <ul class="list-group">
                {% for group in cdp_records[0].sign.instances|groupby('tablet.museum_number') %}
                    <li class="list-group-item"><strong><a href="{{ url_for(".tablet", tablet_id=group[1][0].tablet.id) }}">{{ group.grouper }} <span class="badge">{{group[1]|length}} {{'instances' if group[1]|length > 1 else 'instance' }}</span></a></strong></li>
                {% endfor %}
        {% else %}
            <h4>No Tablet records currently exist for this sign.
        {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
