{% extends "base.jinja" %}
{% from "_utils.jinja" import render_pagination %}
{% block title %}CDP: Tablets By Category{% endblock %}
{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Museum Number</th>
                    <th>Medium</th>
                    <th>Period</th>
                </tr>
            </thead>
            <tbody>
                {%- for item in page.items %}
                <tr>
                    <td><a href="{{ url_for("tablet", tablet_id=item.id) }}"><h4>{{ item.museum_number }}</h4></a></td>
                    <td>{{ item.medium.name }}</td>
                    <td>{{ item.period.name }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        {{ render_pagination(page, "tablets", request) }}
    </div>
{% endblock %}
