{% extends "base.jinja" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2>The page you requested couldn't be found. Please <a href="{{ url_for('glyph.index') }}">click here</a> to return to the main page.</h2>
    </div>
{% endblock %}