{% extends "base.jinja" %}
{% block title %}Error{% endblock %}
{% block content %}
    <div class="row-fluid">
        <h2>An error has occurred. Please <a href="{{ url_for('index') }}">click here</a> to return to the main page.</h2>
    </div>
{% endblock %}