<!doctype html>
<!--[if lt IE 9]><html class="lte-ie8 no-js" lang="{% block page_lang %}en{% endblock %}"><![endif]--><!--[if gt IE 8]><!--><html lang="{{ self.page_lang() }}" class="no-js"><!--<![endif]-->
    <head>

        <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
        <title>{% block title %}Glyph{% endblock %}</title>

    </head>
    <body>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="{{ url_for('index') }}"><i class="icon-home icon-white"></i></a><li>
                </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="span10">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
