{% extends "base.jinja" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="hero-unit">
        <h1>Hello, world!</h1>
        <h2>Content goes here</h2>
        <img class="thumbnail" alt="ASTROCAT" src="{{ url_for('static', filename='img/astrocat.jpg') }}" />
    </div>
{% endblock %}
{% block sidebar %}
{% for number in range(3) %}
    <li class="nav-header">Sidebar</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
{% endfor %}
{% endblock %}
